body {
  background-color: rgb(82, 168, 197);
}

.accordion-title{
  background-color: rgb(115, 173, 115);
}

.accordion-content {
  background-color: whitesmoke;
}

.form-control{
  font-size: 1rem;
}

div.input-group {
  font-size: 1.5rem;
}

div.line.text-center > a {
  font-size: 1.2rem;
}